  <% @movies.each do |movie| %>
  <div>
    <div>
      <%= image_tag movie.image_file_name %>
    </div>
    <h2>
      <%= link_to(movie.title, movie_path(movie)) %>
    </h2>
    <h3>
      <%= total_gross(movie) %>
    </h3>
    <p>
      <%= truncate(movie.description, length: 40, separator: ' ' ) %>
    </p>
  </div>
<% end %>
<div>
  <%= link_to  "Add Movie", new_movie_path %>
</div>
