  <% @movies.each do |movie| %>
  <div>
    <div>
      <%= main_image(movie) %>
    </div>
    <h2>
      <%= link_to(movie.title, movie_path(movie)) %>
    </h2>
    <h3>
      <%= total_gross(movie) %>
    </h3>
    <p>
      <%= truncate(movie.description, length: 40, separator: ' ' ) %>
    </p>
  </div>
<% end %>
<% if current_user_admin? %>

  <div>
    <%= link_to  "Add Movie", new_movie_path %>
  </div>
<% end %>
