<!DOCTYPE html>
<html>

  <head>
    <title>Movie Review App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <%= render "layouts/header" %>
    <main class="content">
      <%= render "layouts/flash" %>
      <%= yield %>
    </main>
    <footer class="footer">
      <p>Copyright &copy; <%= Time.now.year%>
        <%= link_to 'Angie Rodriguez - Software Developer', 'https://angierodriguez.dev/'%>
      </p>
    </footer>
  </body>

</html>
